<div class="container">
  <% if current_user.id == @profile.user_id %>
    <%= render 'form' %>
  <% else %>
    <p>
      You do not have authorized access to this page.<br>
      If you believe this to be in error, please contact administration.
    </p>
  <% end %>
</div>
