<div class="container profile-form">
  <% if current_user.id == @profile.user_id %>
    <%= form_for @profile do |f| %>
      <% @f = f %>

      <%= render 'form' %>

      <div class="action">
        <%= @f.submit "Update", class: "btn btn-primary", id: "update-profile-btn" %>
      </div>
    <% end %>
  <% else %>
    <p>
      You do not have authorized access to this page.<br>
      If you believe this to be in error, please contact administration.
    </p>
  <% end %>
</div>
