<%= content_tag "div", id: "results", class: "container-fluid",
                       data: {results: @map_data} do %>
  <% if params[:search] && params[:search] != "" &&
        @frameworks.include?(params[:search]) %>
    <p><%= params[:search] %> devs:</p>
  <% elsif !params[:search] || params[:search] == "" %>
    <p></p>
  <% else %>
    <p>No matches found.</p>
  <% end %>
<% end %>
