<div class="jumbotron page-header">
  <h1>DevTracker</h1>
  <h3>Connecting companies to developers</h3>
</div>
<div class="container-fluid">
  <div class="profiles-search">
    <%= render 'profiles_search_form' %>
  </div>

  <div class="results">
    <%= render 'results' %>
  </div>
  <hr>
  <div class="welcome-background">
    <div class="row">
      <div class="map col-md-9">
        <%= render 'map' %>
      </div>

      <div class="sidebar col-md-3">
        <%= render 'sidebar' %>
      </div>
    </div>
  </div>
  <hr>
</div>
