<div class="container">
  <h1>Welcome!</h1>

  <div class="profiles-search">
    <%= render 'profiles_search_form' %>
  </div>

  <div class="results">
    <%= render 'results' %>
  </div>

  <div class="map">
    <%= render 'map' %>
  </div>

</div>
