// Imports
@import url(https://fonts.googleapis.com/css?family=Varela+Round);

// Variables
$profile-bg-color: rgba(57, 166, 255, 0.5);
$bg-img-1: url('/assets/profile_bg_img.jpg');
$bg-img-2: url('/assets/northern_lights.jpg');

//Styling
.users.show {
  z-index: 1;
  position: relative;
  #users-show {
    z-index: 2;
  }
  h1 {
    color: rgb(245, 245, 245);//rgb(87, 87, 87);
    font-family: Helvetica, sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
  }
  #map {
    margin-left: -14px;
    border: 2px solid rgb(150, 150, 150);
  }
}
.users.show::after {
  content: "";
  background: $bg-img-2;
  opacity: 0.65;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
.profile-form {
  margin-bottom: 2em;
  .form-group {
    padding: 0 10px;
  }
  span {
    color: red;
  }
  h3 {
    margin: 2em 0 1em;
  }
}
#update-profile-btn {
  margin-top: 1em;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
  .input-group-addon {
    padding-bottom: 10px !important;
    padding-top: 9.8px;
    font-size: 14px !important;
  }
}
.form-input {
  margin-bottom: 10px;
}
select#profile_framework {
  font-size: 16px;
}
#profile-info {
  ul {
    list-style: none;
    li {
      font-size: 15px;
      span {
        font-weight: bold;
      }
    }
  }
  .panel {
    padding-top: 10px;
  }
  #summary {
    height: auto;
  }
}
.profile-info {
  margin: 10px 10px 10px 0;
  padding: 20px 20px 10px 10px;
}
.users.show {
  .panel {
    background-color: lightgray;
  }
}
