#sidebar ul {
  list-style-type: none;
}
#sidebar ul li p span {
  font-weight: bold;
}

#sidebar h2 {
  box-sizing: border-box;
}

#profiles-list {
  list-style-type: none;
}

#profiles-by-framework {
  margin-right: 18%;
  text-align: left;
}

#profiles-by-framework li {
  border-bottom: thin black solid;
  margin-bottom: 5px;
}

#profiles-by-framework li:first-child {
  border-top: thin black solid;
  padding-top: 7px;
  margin-top: 8px;
  left: 20px;
}

#map-container {
  margin-right: 30px;
}

.panel-scroll {
  max-height: 320px;
	overflow: hidden;
	overflow-y: auto;
}
